IOT_PROJECT/Code/Node-Red_Flows/06-04-20_02.json
[{"id":"e9f854e9.effd28","type":"tab","label":"Control Temperature Relay","disabled":false,"info":""},{"id":"4d790d31.b4d624","type":"inject","z":"e9f854e9.effd28","name":"","topic":"room/relay01/switch","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":187,"y":105,"wires":[["eda4f26c.1f36d"]]},{"id":"eda4f26c.1f36d","type":"mqtt out","z":"e9f854e9.effd28","name":"on","topic":"system/relay01/switch","qos":"2","retain":"","broker":"fa7c67af.f9d728","x":490,"y":100,"wires":[]},{"id":"fd2f781a.aa62f8","type":"mqtt out","z":"e9f854e9.effd28","name":"","topic":"system/relay01/switch","qos":"","retain":"","broker":"fa7c67af.f9d728","x":700,"y":280,"wires":[]},{"id":"54ae54e6.e5efec","type":"comment","z":"e9f854e9.effd28","name":"Esto Permite encender y apagar el Relay","info":"","x":264,"y":62,"wires":[]},{"id":"e9d863d2.961fe","type":"comment","z":"e9f854e9.effd28","name":"Esto Permite encender y apagar el Relay por la UI","info":"","x":294,"y":226,"wires":[]},{"id":"7d7dcb95.086d34","type":"mqtt in","z":"e9f854e9.effd28","name":"","topic":"casa/despacho/temperatura","qos":"2","datatype":"auto","broker":"fa7c67af.f9d728","x":190.7142791748047,"y":626.4285526275635,"wires":[["b6179477.c15a38","bc1890a7.98ba8","90979008.d44c7"]]},{"id":"90979008.d44c7","type":"switch","z":"e9f854e9.effd28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"50","vt":"num"},{"t":"gt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":435,"y":536,"wires":[["a89ae616.273e38"],["adfd986f.6df408"]]},{"id":"32eacbbe.cee314","type":"mqtt out","z":"e9f854e9.effd28","name":"","topic":"room/lamp","qos":"","retain":"","broker":"fa7c67af.f9d728","x":1155,"y":576,"wires":[]},{"id":"a89ae616.273e38","type":"change","z":"e9f854e9.effd28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":643,"y":497,"wires":[["21c14015.caaa4"]]},{"id":"adfd986f.6df408","type":"change","z":"e9f854e9.effd28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":645,"y":569,"wires":[["b827c30c.dda6f"]]},{"id":"9390a32e.5c2ef","type":"debug","z":"e9f854e9.effd28","name":"Relay","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1138,"y":489,"wires":[]},{"id":"b827c30c.dda6f","type":"change","z":"e9f854e9.effd28","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"room/lamp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":882,"y":569,"wires":[["32eacbbe.cee314","9390a32e.5c2ef"]]},{"id":"21c14015.caaa4","type":"change","z":"e9f854e9.effd28","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"room/lamp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":879,"y":496,"wires":[["9390a32e.5c2ef","32eacbbe.cee314"]]},{"id":"4ac6cda6.f53db4","type":"comment","z":"e9f854e9.effd28","name":"ESTO PERMITE CONTROLAR EL RELAY A PARTIR DE LA TEMERATURA","info":"**Esto permite encender y apagar el relay dependiendo de la temperatura**","x":714,"y":425,"wires":[]},{"id":"e41d8dfe.3f9ce","type":"ui_switch","z":"e9f854e9.effd28","name":"","label":"switch","tooltip":"","group":"9003a655.955988","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"system/relay01/switch","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":490,"y":280,"wires":[["fd2f781a.aa62f8"]],"inputLabels":["ON"],"outputLabels":["OFF"]},{"id":"596031e0.b3664","type":"mqtt in","z":"e9f854e9.effd28","name":"","topic":"room/lamp/count","qos":"2","datatype":"auto","broker":"fa7c67af.f9d728","x":202.57142639160156,"y":868.8571395874023,"wires":[["a455b5eb.f3eb98"]]},{"id":"a455b5eb.f3eb98","type":"debug","z":"e9f854e9.effd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":518.0714263916016,"y":892.8571395874023,"wires":[]},{"id":"b6179477.c15a38","type":"ui_chart","z":"e9f854e9.effd28","name":"Chart Temperatura","group":"ce024fed.dc436","order":1,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":527.8571739196777,"y":664.2856769561768,"wires":[[]]},{"id":"9ff323ee.4d41f","type":"mqtt in","z":"e9f854e9.effd28","name":"","topic":"casa/despacho/humedad","qos":"2","datatype":"auto","broker":"fa7c67af.f9d728","x":180,"y":689.7142944335938,"wires":[["64b6f69b.3ff4a8","bc1890a7.98ba8"]]},{"id":"64b6f69b.3ff4a8","type":"ui_chart","z":"e9f854e9.effd28","name":"Chart Humedad","group":"ce024fed.dc436","order":2,"width":0,"height":0,"label":"Humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":517.142894744873,"y":713.571418762207,"wires":[[]]},{"id":"cfadca6a.011778","type":"mqtt in","z":"e9f854e9.effd28","name":"Relay State","topic":"system/relay01/state","qos":"2","datatype":"auto","broker":"fa7c67af.f9d728","x":193.57142857142856,"y":925.7142857142857,"wires":[["86122cf5.f0406"]]},{"id":"cd0c26da.cd7f08","type":"function","z":"e9f854e9.effd28","name":"Color Mapping","func":"switch (msg.payload) {\n\ncase \"OFF\" : \n    msg.color = \"red\";\n    break;\n    \ncase \"ON\" : \n    msg.color = \"green\";\n    break;\n    \ndefault : \n    msg.color = \"yellow\";\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":689.9999542236328,"y":1005.7143039703369,"wires":[["3cb2692.a646f96"]]},{"id":"86122cf5.f0406","type":"change","z":"e9f854e9.effd28","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"OFF","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":397.85714285714283,"y":1011.4285714285713,"wires":[["cd0c26da.cd7f08"]]},{"id":"3cb2692.a646f96","type":"ui_text","z":"e9f854e9.effd28","group":"9003a655.955988","order":0,"width":"0","height":"0","name":"","label":"Relay-01","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-left","x":907.1428833007812,"y":1002.857177734375,"wires":[]},{"id":"777408f8.675938","type":"mqtt in","z":"e9f854e9.effd28","name":"","topic":"room/soilsensor/humidity","qos":"2","datatype":"auto","broker":"fa7c67af.f9d728","x":210,"y":760,"wires":[["bc1890a7.98ba8","fa56314e.65ded"]]},{"id":"bc1890a7.98ba8","type":"ui_chart","z":"e9f854e9.effd28","name":"All Charts","group":"ce024fed.dc436","order":4,"width":0,"height":0,"label":"All","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":506.14288330078125,"y":825.4285888671875,"wires":[[]]},{"id":"fa56314e.65ded","type":"ui_chart","z":"e9f854e9.effd28","name":"Chart Soil Humidity","group":"ce024fed.dc436","order":3,"width":0,"height":0,"label":"Soil Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":533,"y":766,"wires":[[]]},{"id":"f487e627.1ed2a8","type":"join","z":"e9f854e9.effd28","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"index","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1670,"y":240,"wires":[["7177390c.213248"]]},{"id":"7177390c.213248","type":"debug","z":"e9f854e9.effd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1790,"y":200,"wires":[]},{"id":"253f3142.7a19de","type":"function","z":"e9f854e9.effd28","name":"part 1","func":"msg.parts = {};\nmsg.parts.id = 12345;\nmsg.parts.index = 0;\nmsg.parts.count = 3;\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":200,"wires":[["f487e627.1ed2a8"]]},{"id":"bc9525d1.fd7a38","type":"function","z":"e9f854e9.effd28","name":"part 2","func":"msg.parts = {};\nmsg.parts.id = 12345;\nmsg.parts.index = 1;\nmsg.parts.count = 3;\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":240,"wires":[["f487e627.1ed2a8"]]},{"id":"2bd0cd65.c95942","type":"function","z":"e9f854e9.effd28","name":"part 3","func":"msg.parts = {};\nmsg.parts.id = 12345;\nmsg.parts.index = 2;\nmsg.parts.count = 3;\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":280,"wires":[["f487e627.1ed2a8"]]},{"id":"3ef4af54.2323e","type":"http in","z":"e9f854e9.effd28","name":"source 1","url":"/source1","method":"get","upload":false,"swaggerDoc":"","x":1360,"y":200,"wires":[["253f3142.7a19de"]]},{"id":"56bc0e87.da104","type":"http in","z":"e9f854e9.effd28","name":"source 2","url":"/source 2","method":"get","upload":false,"swaggerDoc":"","x":1360,"y":240,"wires":[["bc9525d1.fd7a38"]]},{"id":"f597873b.c88e28","type":"http in","z":"e9f854e9.effd28","name":"source 3","url":"/source3","method":"get","upload":false,"swaggerDoc":"","x":1360,"y":280,"wires":[["2bd0cd65.c95942"]]},{"id":"ccec4afc.fcb5e8","type":"inject","z":"e9f854e9.effd28","name":"","topic":"room/relay01/switch","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":140,"wires":[["eda4f26c.1f36d"]]},{"id":"c977c5c.9a3aa38","type":"mqtt in","z":"e9f854e9.effd28","name":"Relay State","topic":"system/relay01/state","qos":"2","datatype":"auto","broker":"fa7c67af.f9d728","x":110,"y":280,"wires":[["6b3e9161.64316"]]},{"id":"6b3e9161.64316","type":"change","z":"e9f854e9.effd28","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[["e41d8dfe.3f9ce"]]},{"id":"fa7c67af.f9d728","type":"mqtt-broker","z":"","name":"RASPI_MQTT_BROKER","broker":"192.168.1.130","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9003a655.955988","type":"ui_group","z":"","name":"CONTROL","tab":"63121a82.7735d4","order":1,"disp":true,"width":"10","collapse":false},{"id":"ce024fed.dc436","type":"ui_group","z":"","name":"CHARTS","tab":"63121a82.7735d4","order":4,"disp":true,"width":"8","collapse":false},{"id":"63121a82.7735d4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]