IOT_PROJECT/Code/Node-Red_Flows/FLOWS_NODE_RED.json
[{"id":"42c991b1.2ca73","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"310ad65.8ecc62a","type":"tab","label":"Getting Values Temperature / Humidity","disabled":false,"info":""},{"id":"1fc54ad2.a00055","type":"tab","label":"Control Temperature Relay","disabled":false,"info":""},{"id":"515202ce.6a749c","type":"tab","label":"AVISO DENTRO DE UNOS LIMITES","disabled":false,"info":""},{"id":"c7370833.00f5e8","type":"tab","label":"EXAMPLE OF CHANGE TO CONTROL RELAY","disabled":false,"info":""},{"id":"9882d845.bde8a8","type":"tab","label":"Font Color","disabled":false,"info":""},{"id":"4006c2e4.52dafc","type":"subflow","name":"Settings","info":"Persist settings in a flat file.\n\nIf msg.clearAll is set to true, the settings are truncated.\n\nSending a topic of \"get\" will return the property you've named in the payload.\n\nAny other topic will be treated as a property and the payload will be saved to the settings file.","category":"","in":[{"x":40,"y":220,"wires":[{"id":"4e2c80b2.bde4f"}]}],"out":[{"x":380,"y":160,"wires":[{"id":"4e2c80b2.bde4f","port":0}]}],"env":[]},{"id":"3fe7e0a4.1b54f","type":"mqtt-broker","z":"","name":"RASPI_MQTT_BROKER","broker":"192.168.1.188","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4c74b124.5f03c","type":"ui_group","z":"42c991b1.2ca73","name":"UI","tab":"83ece8a1.933a18","disp":true,"width":"6","collapse":false},{"id":"5c728285.57496c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"dbd450ae.78c2d","type":"ui_group","z":"","name":"CONTROL","tab":"5c728285.57496c","order":1,"disp":true,"width":"10","collapse":false},{"id":"5e3e7b8e.e87e04","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#a4cddb","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#a4cddb","edited":true},"page-titlebar-backgroundColor":{"value":"#a4cddb","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#dbebf1","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#a4cddb","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial Black,Arial Black,Gadget,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard - CONTROL","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2f2d9473.47ccec","type":"ui_spacer","name":"spacer","group":"dbd450ae.78c2d","order":2,"width":1,"height":1},{"id":"c9e8f403.dd3c48","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"c00cb1ca.e468f","type":"ui_group","z":"","name":"AIR","tab":"5c728285.57496c","order":2,"disp":true,"width":"6","collapse":false},{"id":"982f7ded.ad6bd","type":"ui_group","z":"","name":"CHARTS","tab":"5c728285.57496c","order":4,"disp":true,"width":"8","collapse":false},{"id":"ea8ceb0d.07d8e8","type":"ui_group","z":"","name":"Group 3","tab":"feb6f9f4.117db8","order":1,"disp":true,"width":"6","collapse":false},{"id":"feb6f9f4.117db8","type":"ui_tab","z":"","name":"Tab 3","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"a507696c.e83458","type":"ui_group","z":"","name":"Teste","tab":"ac319f06.3f573","disp":false,"width":"6","collapse":false},{"id":"ac319f06.3f573","type":"ui_tab","z":"","name":"LAB","icon":"dashboard","disabled":false,"hidden":false},{"id":"b3040b96.25fa88","type":"ui_group","z":"","name":"SOIL","tab":"5c728285.57496c","order":3,"disp":true,"width":"6","collapse":false},{"id":"7a92c27c.05cabc","type":"mqtt in","z":"310ad65.8ecc62a","name":"","topic":"casa/despacho/temperatura","qos":"2","datatype":"auto","broker":"3fe7e0a4.1b54f","x":160,"y":68,"wires":[["3ffbbd0c.be9f92","f89b71f0.498b6"]]},{"id":"c0966fed.1f794","type":"debug","z":"310ad65.8ecc62a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":914,"y":67,"wires":[]},{"id":"3ffbbd0c.be9f92","type":"json","z":"310ad65.8ecc62a","name":"","property":"payload","action":"","pretty":false,"x":387,"y":67,"wires":[["7ddfc705.e6f4e8"]]},{"id":"7ddfc705.e6f4e8","type":"split","z":"310ad65.8ecc62a","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"key","x":540,"y":67,"wires":[["315d44e7.c0e27c"]]},{"id":"315d44e7.c0e27c","type":"change","z":"310ad65.8ecc62a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"\"casa/despacho/\" & parts.key","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":719,"y":65,"wires":[["c0966fed.1f794"]]},{"id":"d8f99329.1d737","type":"inject","z":"310ad65.8ecc62a","name":"","topic":"","payload":"1/2/3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":228,"y":914,"wires":[["324595d1.0640fa"]]},{"id":"b2c1f2b7.17e14","type":"inject","z":"310ad65.8ecc62a","name":"Array Trigger","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":212,"y":970,"wires":[["324595d1.0640fa"]]},{"id":"4fb9264b.b32c98","type":"inject","z":"310ad65.8ecc62a","name":"Object Trigger","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":209,"y":1027,"wires":[["324595d1.0640fa"]]},{"id":"324595d1.0640fa","type":"function","z":"310ad65.8ecc62a","name":"array/objects","func":"if (msg.payload==1)\nmsg.payload=[\"test1\",\"test2\",\"test3\"];\nif (msg.payload==2)\nmsg.payload={\"m1\":1,\"m2\":2,\"m3\":3};\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":938,"wires":[["ddcc5a89.b05bf8"]]},{"id":"ddcc5a89.b05bf8","type":"split","z":"310ad65.8ecc62a","name":"","splt":"/","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"key","x":670,"y":947,"wires":[["e0734e20.157a1"]]},{"id":"e0734e20.157a1","type":"debug","z":"310ad65.8ecc62a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":817,"y":947,"wires":[]},{"id":"952d9d51.9000a","type":"mqtt out","z":"310ad65.8ecc62a","name":"","topic":"casa/despacho/temperatura","qos":"","retain":"","broker":"3fe7e0a4.1b54f","x":350,"y":297,"wires":[]},{"id":"15464ac1.1bffb5","type":"inject","z":"310ad65.8ecc62a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":65,"y":298,"wires":[["952d9d51.9000a"]]},{"id":"df6642be.3c43f","type":"comment","z":"310ad65.8ecc62a","name":"TEST OF THE FUNCTION AND SPLIT","info":"","x":522,"y":871,"wires":[]},{"id":"7c71ebb6.da0dc4","type":"mqtt in","z":"310ad65.8ecc62a","name":"","topic":"casa/despacho/temperatura","qos":"2","datatype":"auto","broker":"3fe7e0a4.1b54f","x":209,"y":508,"wires":[["783cc564.c113ac","47087c87.439854"]]},{"id":"47087c87.439854","type":"debug","z":"310ad65.8ecc62a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":757,"y":554,"wires":[]},{"id":"dfb20dc9.b75c9","type":"mqtt in","z":"310ad65.8ecc62a","name":"","topic":"casa/despacho/temperatura","qos":"2","datatype":"auto","broker":"3fe7e0a4.1b54f","x":438,"y":1161,"wires":[["85c0f55b.fa5be8"]]},{"id":"f7b2e2de.1a0d1","type":"mqtt in","z":"310ad65.8ecc62a","name":"","topic":"casa/despacho/humedad","qos":"2","datatype":"auto","broker":"3fe7e0a4.1b54f","x":435,"y":1216,"wires":[["85c0f55b.fa5be8"]]},{"id":"85c0f55b.fa5be8","type":"debug","z":"310ad65.8ecc62a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":778,"y":1162,"wires":[]},{"id":"db7b6a98.ed29a8","type":"mqtt in","z":"310ad65.8ecc62a","name":"","topic":"casa/despacho/humedad","qos":"2","datatype":"auto","broker":"3fe7e0a4.1b54f","x":198,"y":664,"wires":[["12df86c2.487129","f5487079.e4a91"]]},{"id":"f5487079.e4a91","type":"debug","z":"310ad65.8ecc62a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":731,"y":702,"wires":[]},{"id":"550d58f7.279d08","type":"inject","z":"1fc54ad2.a00055","name":"","topic":"room/relay01/on","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":177,"y":105,"wires":[["83f15047.e460a"]]},{"id":"83f15047.e460a","type":"mqtt out","z":"1fc54ad2.a00055","name":"on","topic":"room/relay01/on","qos":"2","retain":"","broker":"3fe7e0a4.1b54f","x":374,"y":101,"wires":[]},{"id":"3808cfde.b14f9","type":"inject","z":"1fc54ad2.a00055","name":"","topic":"room/relay01/off","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":181,"y":155,"wires":[["18d68547.45b7cb"]]},{"id":"18d68547.45b7cb","type":"mqtt out","z":"1fc54ad2.a00055","name":"off","topic":"room/relay01/off","qos":"2","retain":"","broker":"3fe7e0a4.1b54f","x":375,"y":152,"wires":[]},{"id":"e9fc304e.58a34","type":"mqtt out","z":"1fc54ad2.a00055","name":"","topic":"room/relay01/on","qos":"","retain":"","broker":"3fe7e0a4.1b54f","x":643.4285163879395,"y":231.42853713035583,"wires":[]},{"id":"1316a45a.af15cc","type":"comment","z":"1fc54ad2.a00055","name":"Esto Permite encender y apagar el Relay","info":"","x":264,"y":62,"wires":[]},{"id":"8d8fde5.5b5002","type":"comment","z":"1fc54ad2.a00055","name":"Esto Permite encender y apagar el Relay por la UI","info":"","x":294,"y":226,"wires":[]},{"id":"a27b9f73.c91ab","type":"mqtt in","z":"1fc54ad2.a00055","name":"","topic":"casa/despacho/temperatura","qos":"2","datatype":"auto","broker":"3fe7e0a4.1b54f","x":220.7142791748047,"y":626.4285526275635,"wires":[["18b6b464.a1a19c","dd8c41d.fee9cc"]]},{"id":"bf07202b.89286","type":"switch","z":"1fc54ad2.a00055","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"50","vt":"num"},{"t":"gt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":435,"y":536,"wires":[["e78d815.d489d8"],["36ff9107.dbd22e"]]},{"id":"bb0e7b4d.2a8688","type":"mqtt out","z":"1fc54ad2.a00055","name":"","topic":"room/lamp","qos":"","retain":"","broker":"3fe7e0a4.1b54f","x":1155,"y":576,"wires":[]},{"id":"e78d815.d489d8","type":"change","z":"1fc54ad2.a00055","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":643,"y":497,"wires":[["e9fb98c6.38ab38"]]},{"id":"36ff9107.dbd22e","type":"change","z":"1fc54ad2.a00055","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":645,"y":569,"wires":[["6f161778.bbd6d8"]]},{"id":"e5fc99bb.119d28","type":"debug","z":"1fc54ad2.a00055","name":"Relay","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1138,"y":489,"wires":[]},{"id":"6f161778.bbd6d8","type":"change","z":"1fc54ad2.a00055","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"room/lamp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":882,"y":569,"wires":[["bb0e7b4d.2a8688","e5fc99bb.119d28"]]},{"id":"e9fb98c6.38ab38","type":"change","z":"1fc54ad2.a00055","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"room/lamp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":879,"y":496,"wires":[["e5fc99bb.119d28","bb0e7b4d.2a8688"]]},{"id":"aa72e659.93e268","type":"comment","z":"1fc54ad2.a00055","name":"ESTO PERMITE CONTROLAR EL RELAY A PARTIR DE LA TEMERATURA","info":"**Esto permite encender y apagar el relay dependiendo de la temperatura**","x":714,"y":425,"wires":[]},{"id":"5b8ba630.aa66d8","type":"comment","z":"310ad65.8ecc62a","name":"Shows values of Temperature and Humidty in the UI","info":"","x":302,"y":435,"wires":[]},{"id":"4eb87f7f.33d77","type":"comment","z":"310ad65.8ecc62a","name":"Debug the values of Temperature and Humidity","info":"","x":618,"y":1090,"wires":[]},{"id":"c6dd53a8.16237","type":"inject","z":"515202ce.6a749c","name":"","topic":"get","payload":"max_temp,min_temp,enable_alert","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":198.00003051757812,"y":250.0000057220459,"wires":[["5bcd33a7.f4e9bc"]]},{"id":"5bcd33a7.f4e9bc","type":"split","z":"515202ce.6a749c","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":342.0000305175781,"y":250,"wires":[["cadc479f.92af28"]]},{"id":"aa6fb46f.54c628","type":"switch","z":"515202ce.6a749c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":635.0000610351562,"y":249.27273559570312,"wires":[["461d9eb1.e878e"],["a1db44a1.519bd8"]]},{"id":"a1db44a1.519bd8","type":"switch","z":"515202ce.6a749c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"max_temp","vt":"str"},{"t":"eq","v":"min_temp","vt":"str"},{"t":"eq","v":"enable_alert","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":790.727294921875,"y":282.4545440673828,"wires":[["eead73ca.44607"],["f8cb396f.8187c8"],["e641e3e0.6902b"]]},{"id":"eead73ca.44607","type":"change","z":"515202ce.6a749c","name":"Max Default","rules":[{"t":"set","p":"payload","pt":"msg","to":"90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":962.727294921875,"y":240.18182373046875,"wires":[["461d9eb1.e878e"]]},{"id":"f8cb396f.8187c8","type":"change","z":"515202ce.6a749c","name":"Min Default","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":971.727294921875,"y":281.18182373046875,"wires":[["461d9eb1.e878e"]]},{"id":"e641e3e0.6902b","type":"change","z":"515202ce.6a749c","name":"Enabled Default","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":975.727294921875,"y":320.18182373046875,"wires":[["461d9eb1.e878e"]]},{"id":"461d9eb1.e878e","type":"link out","z":"515202ce.6a749c","name":"","links":["a74c2c0e.78b69"],"x":1162.727294921875,"y":238.18182373046875,"wires":[]},{"id":"a74c2c0e.78b69","type":"link in","z":"515202ce.6a749c","name":"","links":["461d9eb1.e878e"],"x":28.81821060180664,"y":439.1818218231201,"wires":[["e8250213.015b5","4ee829df.078638"]]},{"id":"e8250213.015b5","type":"join","z":"515202ce.6a749c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":123.7273178100586,"y":557.1818351745605,"wires":[["49e64c0d.d4a4e4"]]},{"id":"49e64c0d.d4a4e4","type":"change","z":"515202ce.6a749c","name":"Localize Settings","rules":[{"t":"set","p":"app_settings","pt":"flow","to":"msg.payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":297.6364059448242,"y":561.2727565765381,"wires":[[]]},{"id":"4ee829df.078638","type":"switch","z":"515202ce.6a749c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"max_temp","vt":"str"},{"t":"eq","v":"min_temp","vt":"str"},{"t":"eq","v":"enable_alert","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":113.09098052978516,"y":418.09092712402344,"wires":[["17b4c022.5d98"],["cefb592f.803d98"],["c7e2423d.938d"]]},{"id":"ff7c57ec.cb1428","type":"file in","z":"4006c2e4.52dafc","name":"","filename":"persist/settings.json","format":"utf8","chunk":false,"sendError":true,"x":360,"y":60,"wires":[["4df694eb.8343fc"]]},{"id":"4df694eb.8343fc","type":"switch","z":"4006c2e4.52dafc","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":60,"wires":[["428ffc97.797984"],["663ee79.7cbfd18"]]},{"id":"554f89d0.34d7a8","type":"file","z":"4006c2e4.52dafc","name":"","filename":"persist/settings.json","appendNewline":false,"createDir":true,"overwriteFile":"false","x":1080,"y":40,"wires":[[]]},{"id":"c815b5a1.9133d8","type":"json","z":"4006c2e4.52dafc","name":"","property":"payload","action":"str","pretty":false,"x":390,"y":260,"wires":[["47fd7c20.1c7044"]]},{"id":"2b6b0f6d.37902","type":"inject","z":"4006c2e4.52dafc","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":60,"wires":[["ff7c57ec.cb1428"]]},{"id":"11496de5.5e03c2","type":"change","z":"4006c2e4.52dafc","name":"","rules":[{"t":"set","p":"persistant_settings","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":100,"wires":[[]]},{"id":"663ee79.7cbfd18","type":"json","z":"4006c2e4.52dafc","name":"","property":"payload","action":"","pretty":false,"x":930,"y":100,"wires":[["11496de5.5e03c2"]]},{"id":"4e2c80b2.bde4f","type":"function","z":"4006c2e4.52dafc","name":"","func":"if(msg.clearAll === true){\n    flow.set('persistant_settings', {});\n    return [msg, {payload: {}}];\n}\n\nvar settings = flow.get('persistant_settings') || {};\n\nif(msg.topic == 'get'){\n    msg.payload = settings[msg.payload] || null;\n    return [msg, null]\n}else{\n    settings[msg.topic] = msg.payload;\n    flow.set('persistant_settings', settings);\n    return [msg, {payload: settings}];\n}","outputs":2,"noerr":0,"x":210,"y":220,"wires":[[],["c815b5a1.9133d8"]]},{"id":"47fd7c20.1c7044","type":"file","z":"4006c2e4.52dafc","name":"","filename":"persist/settings.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":620,"y":260,"wires":[[]]},{"id":"428ffc97.797984","type":"change","z":"4006c2e4.52dafc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":20,"wires":[["554f89d0.34d7a8","663ee79.7cbfd18"]]},{"id":"cadc479f.92af28","type":"subflow:4006c2e4.52dafc","z":"515202ce.6a749c","name":"","env":[],"x":490.90911865234375,"y":250.27272033691406,"wires":[["aa6fb46f.54c628"]]},{"id":"9309f237.21105","type":"subflow:4006c2e4.52dafc","z":"515202ce.6a749c","name":"","env":[],"x":408.3117218017578,"y":396.2337579727173,"wires":[["781bb644.244288"]]},{"id":"781bb644.244288","type":"change","z":"515202ce.6a749c","name":"","rules":[{"t":"set","p":"flow_settings","pt":"msg","to":"app_settings","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":587.2727279663086,"y":410.90907859802246,"wires":[["38c8dda8.7d0fa2"]]},{"id":"38c8dda8.7d0fa2","type":"switch","z":"515202ce.6a749c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"max_temp","vt":"str"},{"t":"eq","v":"min_temp","vt":"str"},{"t":"eq","v":"enable_alert","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":766.3636016845703,"y":416.36363410949707,"wires":[["9c4573b9.902b"],["5d5e8df3.d91154"],["aec5a401.5eff88"]]},{"id":"9c4573b9.902b","type":"change","z":"515202ce.6a749c","name":"","rules":[{"t":"set","p":"flow_settings.max_temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":966.363699132746,"y":377.2727293534713,"wires":[["8bd534f1.10f488"]]},{"id":"5d5e8df3.d91154","type":"change","z":"515202ce.6a749c","name":"","rules":[{"t":"set","p":"flow_settings.min_temp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":968.181944066828,"y":426.36363549665975,"wires":[["8bd534f1.10f488"]]},{"id":"aec5a401.5eff88","type":"change","z":"515202ce.6a749c","name":"","rules":[{"t":"set","p":"flow_settings.enable_alert","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":981.8182966058905,"y":472.72725244001913,"wires":[["8bd534f1.10f488"]]},{"id":"8bd534f1.10f488","type":"change","z":"515202ce.6a749c","name":"","rules":[{"t":"set","p":"app_settings","pt":"flow","to":"flow_settings","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230.909164428711,"y":418.18182945251465,"wires":[["28a7552a.1cf33a"]]},{"id":"1f7f3475.bfed1c","type":"mqtt in","z":"515202ce.6a749c","name":"","topic":"casa/despacho/temperatura","qos":"2","datatype":"auto","broker":"3fe7e0a4.1b54f","x":175,"y":698,"wires":[["a394b3e.1bca85"]]},{"id":"a394b3e.1bca85","type":"change","z":"515202ce.6a749c","name":"Get Local Settings","rules":[{"t":"set","p":"flow_settings","pt":"msg","to":"app_settings","tot":"flow"},{"t":"set","p":"enable_alert","pt":"msg","to":"flow_settings.enable_alert","tot":"msg"},{"t":"set","p":"min","pt":"msg","to":"flow_settings.min_temp","tot":"msg"},{"t":"set","p":"max","pt":"msg","to":"flow_settings.max_temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Temperature Alert!!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":431,"y":700,"wires":[["b9395159.45101"]]},{"id":"b9395159.45101","type":"switch","z":"515202ce.6a749c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"max","vt":"msg"},{"t":"lt","v":"min","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":617,"y":704,"wires":[["983d7e56.e23db"],["d501e3e8.36b6a"]]},{"id":"983d7e56.e23db","type":"template","z":"515202ce.6a749c","name":"High Alert","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The temperature is above acceptable limits!! ({{payload}})","output":"str","x":784,"y":657,"wires":[["bb2563ec.788c9"]]},{"id":"d501e3e8.36b6a","type":"template","z":"515202ce.6a749c","name":"Low Alert","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The temperature is below acceptable limits!! ({{payload}})","output":"str","x":782,"y":713,"wires":[["bb2563ec.788c9"]]},{"id":"bb2563ec.788c9","type":"delay","z":"515202ce.6a749c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":981,"y":679,"wires":[["840b11d4.db42c","248d1238.22725e"]]},{"id":"248d1238.22725e","type":"switch","z":"515202ce.6a749c","name":"","property":"enable_alert","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1119,"y":784,"wires":[[]]},{"id":"dfea02fe.f8b8a","type":"comment","z":"515202ce.6a749c","name":"ESTO NOS PERMITE SETEAR UNOS LIMITES PARA CREAR UN AVISO","info":"","x":615,"y":122,"wires":[]},{"id":"d60b9ded.d5829","type":"ui_switch","z":"1fc54ad2.a00055","name":"","label":"switch","tooltip":"","group":"dbd450ae.78c2d","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room/lamp","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":224.8571434020996,"y":270.85713386535645,"wires":[["5e7ddb2d.fcffd4"]],"inputLabels":["ON"],"outputLabels":["OFF"]},{"id":"c7e2423d.938d","type":"ui_switch","z":"515202ce.6a749c","name":"","label":"Enable Email Alert","tooltip":"","group":"dbd450ae.78c2d","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"enable_alert","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":265.1559066772461,"y":475.4415683746338,"wires":[["9309f237.21105"]]},{"id":"17b4c022.5d98","type":"ui_slider","z":"515202ce.6a749c","name":"Set Maximum","label":"Maximum {{value}}ยบ","tooltip":"","group":"dbd450ae.78c2d","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"max_temp","min":0,"max":"100","step":1,"x":265.5844955444336,"y":351.5844268798828,"wires":[["9309f237.21105"]]},{"id":"cefb592f.803d98","type":"ui_slider","z":"515202ce.6a749c","name":"Set Minimum","label":"Minimum {{value}}ยบ","tooltip":"","group":"dbd450ae.78c2d","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"min_temp","min":0,"max":"100","step":1,"x":243.7273406982422,"y":412.727294921875,"wires":[["9309f237.21105"]]},{"id":"783cc564.c113ac","type":"ui_gauge","z":"310ad65.8ecc62a","name":"","group":"c00cb1ca.e468f","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ยบC","format":"{{value | number: 2}}","min":0,"max":"40","colors":["#ca3838","#00b500","#ca3838"],"seg1":"20","seg2":"30","x":749,"y":495,"wires":[]},{"id":"12df86c2.487129","type":"ui_gauge","z":"310ad65.8ecc62a","name":"","group":"c00cb1ca.e468f","order":2,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value | number: 2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","x":730,"y":653,"wires":[]},{"id":"840b11d4.db42c","type":"ui_toast","z":"515202ce.6a749c","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":1176,"y":681,"wires":[[]]},{"id":"e923d8f.9a43628","type":"debug","z":"1fc54ad2.a00055","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":775.7856559753418,"y":291.5714530944824,"wires":[]},{"id":"12f02308.de721d","type":"mqtt in","z":"1fc54ad2.a00055","name":"","topic":"room/lamp/count","qos":"2","datatype":"auto","broker":"3fe7e0a4.1b54f","x":202.57142639160156,"y":868.8571395874023,"wires":[["f0527300.11b32"]]},{"id":"f0527300.11b32","type":"debug","z":"1fc54ad2.a00055","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":518.0714263916016,"y":892.8571395874023,"wires":[]},{"id":"83379e0.423b16","type":"switch","z":"c7370833.00f5e8","name":"","property":"relayOn","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":737,"y":364,"wires":[["283a20b1.f7e29"],["d49e432a.96112"]]},{"id":"e4bdc174.4f0db","type":"inject","z":"c7370833.00f5e8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":197,"y":184,"wires":[["caf53ac5.cf08b8"]]},{"id":"4c845140.c8bad","type":"inject","z":"c7370833.00f5e8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":197,"y":224,"wires":[["caf53ac5.cf08b8"]]},{"id":"caf53ac5.cf08b8","type":"change","z":"c7370833.00f5e8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"relayOn","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":357,"y":204,"wires":[[]]},{"id":"2cef4d56.0fdc62","type":"inject","z":"c7370833.00f5e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":227,"y":324,"wires":[["83379e0.423b16"]]},{"id":"39e0d3c0.bbcd7c","type":"inject","z":"c7370833.00f5e8","name":"","topic":"","payload":"Test message 1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":207,"y":364,"wires":[["83379e0.423b16"]]},{"id":"9d9643a.a4074c","type":"inject","z":"c7370833.00f5e8","name":"","topic":"","payload":"Another test message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":187,"y":404,"wires":[["83379e0.423b16"]]},{"id":"193b0252.ec208e","type":"comment","z":"c7370833.00f5e8","name":"This sets flow.relayOn","info":"","x":257,"y":144,"wires":[]},{"id":"699114f3.7d64bc","type":"comment","z":"c7370833.00f5e8","name":"This evaluates for flow.relayOn true/false","info":"","x":652,"y":308,"wires":[]},{"id":"283a20b1.f7e29","type":"debug","z":"c7370833.00f5e8","name":"if flow.relayOn is true, message comes out here","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1059,"y":190,"wires":[]},{"id":"d49e432a.96112","type":"debug","z":"c7370833.00f5e8","name":"if flow.relayOn is false, message comes out here","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1047,"y":384,"wires":[]},{"id":"6f0e2419.2fca6c","type":"mqtt in","z":"1fc54ad2.a00055","name":"","topic":"room/relay01/#","qos":"2","datatype":"auto","broker":"3fe7e0a4.1b54f","x":677.2142639160156,"y":115,"wires":[["f1091142.a714c"]]},{"id":"f1091142.a714c","type":"debug","z":"1fc54ad2.a00055","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":904.5,"y":141,"wires":[]},{"id":"991a73ea.60053","type":"mqtt in","z":"310ad65.8ecc62a","name":"","topic":"room/lamp/state","qos":"2","datatype":"auto","broker":"3fe7e0a4.1b54f","x":85,"y":344,"wires":[["a134431b.d3a72"]]},{"id":"a134431b.d3a72","type":"debug","z":"310ad65.8ecc62a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":326,"y":345,"wires":[]},{"id":"5e7ddb2d.fcffd4","type":"switch","z":"1fc54ad2.a00055","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":343.5714302062988,"y":270.00000381469727,"wires":[["e9fc304e.58a34","e923d8f.9a43628"],["9c3cd715.e3d428","e923d8f.9a43628"]]},{"id":"9c3cd715.e3d428","type":"mqtt out","z":"1fc54ad2.a00055","name":"","topic":"room/relay01/off","qos":"","retain":"","broker":"3fe7e0a4.1b54f","x":635.7142219543457,"y":352.8571367263794,"wires":[]},{"id":"18b6b464.a1a19c","type":"ui_chart","z":"1fc54ad2.a00055","name":"Chart Temperatura","group":"982f7ded.ad6bd","order":1,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":527.8571739196777,"y":664.2856769561768,"wires":[[]]},{"id":"2071684.d849598","type":"mqtt in","z":"1fc54ad2.a00055","name":"","topic":"casa/despacho/humedad","qos":"2","datatype":"auto","broker":"3fe7e0a4.1b54f","x":210,"y":689.7142944335938,"wires":[["360731c4.5d750e","dd8c41d.fee9cc"]]},{"id":"360731c4.5d750e","type":"ui_chart","z":"1fc54ad2.a00055","name":"Chart Humedad","group":"982f7ded.ad6bd","order":2,"width":0,"height":0,"label":"Humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":517.142894744873,"y":713.571418762207,"wires":[[]]},{"id":"1663f373.41743d","type":"mqtt in","z":"1fc54ad2.a00055","name":"Relay State","topic":"room/relay01/state","qos":"2","datatype":"auto","broker":"3fe7e0a4.1b54f","x":193.57142857142856,"y":925.7142857142857,"wires":[["39e6b75c.9d1088"]]},{"id":"737b2ef5.283d2","type":"ui_text","z":"9882d845.bde8a8","group":"a507696c.e83458","order":0,"width":"0","height":"0","name":"","label":"TESTOOO","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-left","x":790.1000366210938,"y":165.60000610351562,"wires":[]},{"id":"2c1731e7.8fc81e","type":"inject","z":"9882d845.bde8a8","name":"","topic":"","payload":"disarmed","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":383.00000762939453,"y":107.00000190734863,"wires":[["30dfcee0.371d12"]]},{"id":"30dfcee0.371d12","type":"function","z":"9882d845.bde8a8","name":"Color Mapping","func":"switch (msg.payload) {\n\ncase \"disarmed\" : \n    msg.color = \"lime\";\n    break;\n    \ncase \"pending\" : \n    msg.color = \"yellow\";\n    break;\n    \ndefault : \n    msg.color = \"red\";\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":586.1000556945801,"y":172.60000228881836,"wires":[["737b2ef5.283d2"]]},{"id":"84880d30.fd70b","type":"inject","z":"9882d845.bde8a8","name":"","topic":"","payload":"pending","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":390.00000762939453,"y":154.00000190734863,"wires":[["30dfcee0.371d12"]]},{"id":"3c612311.3114bc","type":"inject","z":"9882d845.bde8a8","name":"","topic":"","payload":"armed_home","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":373.00000762939453,"y":201.00000286102295,"wires":[["30dfcee0.371d12"]]},{"id":"87cfc67e.c59878","type":"inject","z":"9882d845.bde8a8","name":"","topic":"","payload":"armed_away","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":371.00000762939453,"y":247.00000381469727,"wires":[["30dfcee0.371d12"]]},{"id":"7e77785.78e9688","type":"function","z":"9882d845.bde8a8","name":"Color Mapping","func":"switch (msg.payload) {\n\ncase \"off\" : \n    msg.color = \"red\";\n    break;\n    \ncase \"on\" : \n    msg.color = \"green\";\n    break;\n    \ndefault : \n    msg.color = \"yellow\";\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":661.4285736083984,"y":520.0000152587891,"wires":[[]]},{"id":"fadc029c.f1593","type":"function","z":"1fc54ad2.a00055","name":"Color Mapping","func":"switch (msg.payload) {\n\ncase \"OFF\" : \n    msg.color = \"red\";\n    break;\n    \ncase \"ON\" : \n    msg.color = \"green\";\n    break;\n    \ndefault : \n    msg.color = \"yellow\";\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":689.9999542236328,"y":1005.7143039703369,"wires":[["dffe1f13.36ede"]]},{"id":"39e6b75c.9d1088","type":"change","z":"1fc54ad2.a00055","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"OFF","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":397.85714285714283,"y":1011.4285714285713,"wires":[["fadc029c.f1593"]]},{"id":"dffe1f13.36ede","type":"ui_text","z":"1fc54ad2.a00055","group":"dbd450ae.78c2d","order":0,"width":"0","height":"0","name":"","label":"Relay-01","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-left","x":907.1428833007812,"y":1002.857177734375,"wires":[]},{"id":"49534d39.211884","type":"mqtt in","z":"310ad65.8ecc62a","name":"","topic":"room/soilsensor/humidity","qos":"2","datatype":"auto","broker":"3fe7e0a4.1b54f","x":201.42857360839844,"y":775.7142944335938,"wires":[["bbe96c71.c46c1","1857778f.b8e148"]]},{"id":"bbe96c71.c46c1","type":"ui_gauge","z":"310ad65.8ecc62a","name":"","group":"b3040b96.25fa88","order":2,"width":0,"height":0,"gtype":"gage","title":"Humedad Tierra","label":"%","format":"{{value | number: 2}}","min":0,"max":"100","colors":["#ff8080","#e6e600","#80ff80"],"seg1":"40","seg2":"60","x":692.857177734375,"y":777.1428833007812,"wires":[]},{"id":"9407f74c.7466a8","type":"mqtt in","z":"1fc54ad2.a00055","name":"","topic":"room/soilsensor/humidity","qos":"2","datatype":"auto","broker":"3fe7e0a4.1b54f","x":210,"y":760,"wires":[["dd8c41d.fee9cc","ceca3f71.154d1"]]},{"id":"dd8c41d.fee9cc","type":"ui_chart","z":"1fc54ad2.a00055","name":"All Charts","group":"982f7ded.ad6bd","order":4,"width":0,"height":0,"label":"All","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":506.14288330078125,"y":825.4285888671875,"wires":[[]]},{"id":"28a7552a.1cf33a","type":"debug","z":"515202ce.6a749c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1483.5714285714284,"y":419.99999999999994,"wires":[]},{"id":"1857778f.b8e148","type":"ui_chart","z":"310ad65.8ecc62a","name":"","group":"b3040b96.25fa88","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":664.5,"y":820,"wires":[[]]},{"id":"ceca3f71.154d1","type":"ui_chart","z":"1fc54ad2.a00055","name":"Chart Soil Humidity","group":"982f7ded.ad6bd","order":3,"width":0,"height":0,"label":"Soil Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":533,"y":766,"wires":[[]]},{"id":"f89b71f0.498b6","type":"trigger","z":"310ad65.8ecc62a","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":480.5,"y":194,"wires":[["c0966fed.1f794","783cc564.c113ac","12df86c2.487129"]]},{"id":"54b0608e.f354","type":"comment","z":"310ad65.8ecc62a","name":"If no message is recieved, 0 is sended","info":"","x":499.5,"y":151,"wires":[]}]